<div class="chud-list-entry">
  {{!-- Controls --}}
  {{#if isGM}}
    <div class="chud-controls" data-tooltip-direction="LEFT">
      {{!-- <a
        class="edit"
        title="{{localize 'CHUD.actions.participant.edit'}}"
        onclick='game.ConversationHud.executeFunction({{{json (object scope="local" type="edit-participant" data=(object index=index))}}})'
      >
        <i class="fas fa-edit"></i>
      </a> --}}

      <button
        type="button"
        class="ui-control icon fa-solid fa-edit"
        onclick='game.ConversationHud.executeFunction({{{json (object scope="local" type="edit-participant" data=(object index=index))}}})'
        data-tooltip
        aria-label="{{localize 'CHUD.actions.participant.edit'}}"
      />

      {{!-- <a
        class="remove"
        title="{{localize 'CHUD.actions.participant.delete'}}"
        onclick='game.ConversationHud.executeFunction({{{json (object scope="local" type="remove-participant" data=(object index=index))}}})'
      >
        <i class="fas fa-trash"></i>
      </a> --}}

      <button
        type="button"
        class="ui-control icon fa-solid fa-trash"
        onclick='game.ConversationHud.executeFunction({{{json (object scope="local" type="remove-participant" data=(object index=index))}}})'
        data-tooltip
        aria-label="{{localize 'CHUD.actions.participant.delete'}}"
      />

      {{#if participant.linkedJournal}}
        {{!-- <a
          class="notes"
          title="{{localize 'CHUD.strings.linkedJournal.name'}}"
          onclick="game.ConversationHud.displayLinkedParticipantNotes({{index}})"
        >
          <i class="fas fa-book"></i>
        </a> --}}

        <button
          type="notes"
          class="ui-control icon fa-solid fa-book"
          onclick="game.ConversationHud.displayLinkedParticipantNotes({{index}})"
          data-tooltip
          aria-label="{{localize 'CHUD.strings.linkedJournal.name'}}"
        />
      {{/if}}

      {{#if participant.linkedActor}}
        {{!-- <a
          class="notes"
          title="{{localize 'CHUD.strings.linkedActor.name'}}"
          onclick="game.ConversationHud.displayLinkedParticipantActor({{index}})"
        >
          <i class="fas fa-user"></i>
        </a> --}}

        <button
          type="notes"
          class="ui-control icon fa-solid fa-user"
          onclick="game.ConversationHud.displayLinkedParticipantActor({{index}})"
          data-tooltip
          aria-label="{{localize 'CHUD.strings.linkedActor.name'}}"
        />
      {{/if}}
    </div>
  {{/if}}

  {{!-- Participant --}}
  <button
    {{!-- class="chud-content {{#if isGM}}chud-has-control{{/if}}" --}}
    class="ui-control plain chud-conversation-participant-entry"
    {{#unless isGM}}
      data-tooltip="
        {{!-- TODO: Create a hbs helper for this portion of code  --}}
        {{#if (eq participant.displayName false)}}
          {{localize 'CHUD.strings.unknown'}}
        {{else}}
          {{participant.name}}
        {{/if}}
      "
    {{/unless}}
    {{#if isGM}}
      draggable="true"
      onclick='game.ConversationHud.executeFunction({{{json (object scope="everyone" type="change-active-participant" data=(object index=index))}}})'
    {{/if}}
  >
    {{{renderParticipantPortrait
      participant.img
      (portraitParamsObject
        class=(concat "chud-portrait " participant.portraitAnchor.vertical " " participant.portraitAnchor.horizontal)
        alt="Portrait"
        style=(concat "scale: " participant.imgScale ";")
      )
    }}}
    
    <p class="chud-name">
      {{#if (eq participant.displayName false)}}
        {{localize 'CHUD.strings.unknown'}}
      {{else}}
        {{participant.name}}
      {{/if}}
    </p>
  </button>

  {{!-- Faction --}}
  <div data-tooltip="{{participant.faction.factionName}}" style="align-self: flex-start;">
    {{> "modules/conversation-hud/templates/fragments/faction-banner.hbs"
      faction=participant.faction
    }}
  </div>
</div>