<div class="active-participant-wrapper" data-tooltip-direction="DOWN">
  {{!-- Faction wrapper --}}
  <div
    class="active-participant-faction {{#unless participant.faction.displayFaction}}faction-disabled{{/unless}}"
    {{#if displayParticipant}}data-tooltip="{{participant.faction.factionName}}"{{/if}}
  >
    {{> "modules/conversation-hud/templates/fragments/faction_wrapper.hbs" faction=participant.faction}}
    <p class="faction-name {{activeParticipantFactionFontSize}}">{{participant.faction.factionName}}</p>
  </div>

  {{!-- Participant display --}}
  <div
    class="active-participant {{portraitStyle}}"
    {{#if displayParticipant}}data-tooltip="{{participant.name}}"{{/if}}
  >
    {{#if displayParticipant}}
      <img class="portrait {{participant.portraitAnchor.vertical}} {{participant.portraitAnchor.horizontal}}" src="{{participant.img}}" alt="Portrait" style="scale: {{participant.imgScale}};"/>
      <p class="name {{activeParticipantFontSize}}">
        {{participant.name}}
      </p>
    {{else}}
      <p class="no-participant-text">
        {{localize 'CHUD.strings.noActiveParticipant'}}
      </p>
    {{/if}}
  </div>
</div>