<fieldset>
  <div class="form-group">
    <label>{{localize "CHUD.strings.participantName.name"}}</label>
    <div class="form-fields">
      <input class="text" type="text" name="participantName" placeholder="{{localize 'CHUD.strings.newParticipant'}}" value="{{participantName}}" />
    </div>
    <p class="hint">{{localize "CHUD.strings.participantName.hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "CHUD.strings.displayName.name"}}</label>
    <div class="form-fields">
      <input
        type="checkbox"
        name="displayParticipantName"
        {{checked displayParticipantName}}
      >
    </div>
    <p class="hint">{{localize "CHUD.strings.displayName.hint"}}</p>
  </div>
</fieldset>

<fieldset>
  <div class="form-group">
    <label>{{localize "CHUD.strings.portrait.name"}}</label>
    <div class="form-fields">
      <file-picker name="participantImg" type="imagevideo" value="{{participantImg}}"></file-picker>
    </div>
    <p class="hint">{{localize "CHUD.strings.portrait.hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "CHUD.strings.portraitScale.name"}}</label>
    <div class="form-fields">
      <range-picker
        name="participantImgScale"
        value={{participantImgScale}}
        min="0"
        max="1"
        step="0.1"
      ></range-picker>
    </div>
    <p class="hint">{{localize "CHUD.strings.portraitScale.hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "CHUD.strings.portraitAnchor.vertical.name"}}</label>
    <select name="portraitAnchorVertical">
      {{ selectOptions anchorOptions.vertical selected=portraitAnchor.vertical valueAttr="value" labelAttr="label"}}
    </select>
    <p class="hint">{{localize "CHUD.strings.portraitAnchor.vertical.hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "CHUD.strings.portraitAnchor.horizontal.name"}}</label>
    <select name="portraitAnchorHorizontal">
      {{ selectOptions anchorOptions.horizontal selected=portraitAnchor.horizontal valueAttr="value" labelAttr="label"}}
    </select>
    <p class="hint">{{localize "CHUD.strings.portraitAnchor.horizontal.hint"}}</p>
  </div>
</fieldset>

<fieldset>
  <div class="form-group">
    <label>{{localize "CHUD.strings.linkedJournal.name"}}</label>
    <select name="linkedJournal">
      {{ selectOptions journals selected=linkedJournal blank="" valueAttr="id" labelAttr="name"}}
    </select>
    <p class="hint">{{localize "CHUD.strings.linkedJournal.hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "CHUD.strings.linkedActor.name"}}</label>
    <select name="linkedActor">
      {{ selectOptions actors selected=linkedActor blank="" valueAttr="id" labelAttr="name"}}
    </select>
    <p class="hint">{{localize "CHUD.strings.linkedActor.hint"}}</p>
  </div>
</fieldset>
