<div class="participants-list">
  {{#if participants}}
    <div id="conversation-participants-list">
      {{#each participants as |participant|}}
        <div class="participant-drag-drop-container">
          <div id="drag-drop-indicator-top" class="drag-drop-indicator"></div>

          <div class="conversation-participant-TOFIX">
            <i
              id="conversation-sheet-drag-drop-handler"
              class="drag-drop-handler fa-solid fa-arrows-up-down-left-right"
              draggable="true"
            ></i>

            <div class="faction-wrapper {{#if participant.faction.factionBannerEnabled}}has-banner{{/if}}">
              <img class="faction-logo" src="{{participant.faction.factionLogo}}" alt="Faction Logo">

              {{#if participant.faction.factionBannerEnabled}}
                {{#if (eq participant.faction.factionBannerShape "shape-1")}}
                  {{> "modules/conversation-hud/templates/banner-shapes/shape-1.hbs" color=participant.faction.factionBannerTint}}
                {{/if}}

                {{#if (eq participant.faction.factionBannerShape "shape-2")}}
                  {{> "modules/conversation-hud/templates/banner-shapes/shape-2.hbs" color=participant.faction.factionBannerTint}}
                {{/if}}

                {{#if (eq participant.faction.factionBannerShape "shape-3")}}
                  {{> "modules/conversation-hud/templates/banner-shapes/shape-3.hbs" color=participant.faction.factionBannerTint}}
                {{/if}}

                {{#if (eq participant.faction.factionBannerShape "shape-4")}}
                  {{> "modules/conversation-hud/templates/banner-shapes/shape-4.hbs" color=participant.faction.factionBannerTint}}
                {{/if}}
              {{/if}}
            </div>

            <div class="portrait-wrapper">
              <img src="{{participant.img}}"/>
            </div>

            <div class="text-wrapper">
              <p class="name">{{participant.name}}</p>

              {{#if participant.faction.displayFaction}}
                <p class="faction">{{participant.faction.factionName}}</p>
              {{else}}
                <p class="faction">{{localize CHUD.faction.unaffiliated}}</p>
              {{/if}}
            </div>
                  
            <div class="controls-wrapper">
              <a id="participant-clone-button" class="clone" title="{{localize 'CHUD.duplicateParticipant'}}">
                <i class="fas fa-clone"></i>
              </a>
              <a id="participant-edit-button" class="edit" title="{{localize 'CHUD.editParticipant'}}">
                <i class="fas fa-pencil"></i>
              </a>
              <a id="participant-delete-button" class="delete" title="{{localize 'CHUD.deleteParticipant'}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>

          <div id="drag-drop-indicator-bottom" class="drag-drop-indicator"></div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="no-participants-message">
      {{localize 'CHUD.noParticipantsInList'}}
    </p> 
  {{/if}}
</div>