<div class="tab" data-tab="participant-config">
  <div class="form-group">
    <label>{{localize "CHUD.strings.name"}}</label>
    <div class="form-fields">
      <input class="text" type="text" name="participantName" placeholder="{{localize 'CHUD.strings.newParticipant'}}" value="{{participantName}}" />
    </div>
    <p class="notes">{{localize "CHUD.strings.nameHint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "CHUD.strings.portrait"}}</label>
    <div class="form-fields">
      <button type="button" class="file-picker" data-type="imagevideo" data-target="participantImg" title="{{localize 'CHUD.strings.browseFiles'}}">
        <i class="fas fa-file-import fa-fw"></i>
      </button>
      <input class="image" type="text" name="participantImg" placeholder="{{localize 'CHUD.strings.filePath'}}" value="{{participantImg}}" />
    </div>
    <p class="notes">{{localize "CHUD.strings.portraitHint"}}</p>
  </div>
</div>