<form class="sheet chud-h-100">
  {{!-- NAVIGATION TABS --}}
  <nav class="sheet-tabs tabs" aria-role="{{localize 'SHEETS.FormNavLabel'}}" style="flex: 0">
    <a class="item" data-tab="participant-config">
      <i class="fas fa-user"></i> {{localize "CHUD.tabs.participantConfig"}}
    </a>
    
    <a class="item" data-tab="faction-config">
      <i class="fas fa-bookmark"></i> {{localize "CHUD.tabs.factionConfig"}}
    </a>
  </nav>

  {{!-- PARTICIPANT CONFIG TAB --}}
  <div class="tab" data-tab="participant-config">
    {{> "modules/conversation-hud/templates/fragments/conversation-participant-data.hbs"
      participantName=participantName
      displayParticipantName=displayParticipantName
      participantImg=participantImg
      participantImgScale=participantImgScale
    }}
  </div>

  {{!-- FACTION CONFIG TAB --}}
  <div class="tab" data-tab="faction-config">
    <div class="chud-form-content chud-drag-and-drop-container">
      <div class="chud-dropzone">
        <i class="far fa-square-plus"></i>
        <p> {{localize 'CHUD.strings.dropFaction'}} </p>
      </div>

      <div class="chud-non-dropzone-content chud-h-100">
        {{!-- Saved factions select --}}
        <div class="form-group">
          <label>{{localize 'CHUD.faction.factionSelector.name'}}</label>
          <div class="form-fields">
            <select name="selectedFaction">
              {{#select selectedFaction}}
                <option value="">New Faction</option>
                {{#each savedFactions}}
                  <option value="{{ this.id }}">{{ this.name }}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>
          <p class="notes">{{localize "CHUD.faction.factionSelector.hint"}}</p>
        </div>

        {{!-- Faction display toggle --}}
        <div class="form-group">
          <label>{{localize "CHUD.faction.displayFaction.name"}}</label>
          <div class="form-fields">
            <input type="checkbox" name="displayFaction" {{checked displayFaction}}>
          </div>
          <p class="notes">{{localize "CHUD.faction.displayFaction.hint"}}</p>
        </div>

        <hr>

        {{> "modules/conversation-hud/templates/fragments/faction-data.hbs"
          displayFaction=displayFaction
          factionName=factionName
          factionLogo=factionLogo
          factionBannerEnabled=factionBannerEnabled
          factionBannerShape=factionBannerShape
          factionBannerTint=factionBannerTint
          hasSelectedFaction=selectedFaction
        }}
      </div>
    </div>
  </div>

  {{!-- FOOTER --}}
  <div class="chud-form-footer">
    <footer class="sheet-footer flexrow">
      <button type="submit" name="submit">
        <i class="fa fa-check"></i>
        {{#if isEditing}}
          {{localize "CHUD.actions.participant.edit"}}
        {{else}}
          {{localize "CHUD.actions.participant.add"}}
        {{/if}}
      </button>
    </footer>
  </div>
</form>