<form class="sheet chud-h-100">
  <div class="flexrow chud-form-sub-header">
    <p> {{localize 'CHUD.strings.conversationSettings'}} </p>
  </div>

  <div class="chud-form-section chud-flex-0">
    <div class="form-group">
      <label>{{localize "CHUD.strings.conversationBackground.name"}}</label>
      <div class="form-fields">
        <button
          type="button"
          class="file-picker"
          data-type="imagevideo"
          data-target="conversationBackground"
          title="{{localize 'CHUD.strings.browseFiles'}}"
        >
          <i class="fas fa-file-import fa-fw"></i>
        </button>

        <input
          class="image"
          type="text"
          name="conversationBackground"
          placeholder="{{localize 'CHUD.strings.filePath'}}"
          value="{{conversationBackground}}"
        />
      </div>
      <p class="notes">{{localize "CHUD.strings.conversationBackground.hint"}}</p>
    </div>
  </div>

  {{#switch type}} 
    {{#case 'gm-controlled'}}
      {{> "modules/conversation-hud/templates/forms/content/gm-controlled-conversation-creation-form-content.hbs"
        isGM=isGM
        participants=participants 
      }}
    {{/case}} 
    {{#case 'default'}}
      {{!-- TODO: Add message type that is also localized --}}
      <p>Type not supported</p>
    {{/case}}
  {{/switch}}
    
  <div class="chud-form-footer">
    <footer class="sheet-footer flexrow">
      <button
        type="submit"
        name="submit"
        title="{{localize 'CHUD.actions.startConversation'}}"
      >
        <i class="fa fa-check"></i>
        {{localize 'CHUD.actions.startConversation'}}
      </button>
    </footer>
  </div>
</form>
