<div class="standard-form chud-flex-1" data-application-part="body">
  <fieldset class="chud-flex-1">
    <legend class="chud-fieldset-legend-with-actions">
      <span class="chud-label">
        {{localize 'CHUD.strings.sceneActors'}}
      </span>

      <span class="chud-line"></span>
      
      <span class="chud-actions">
        <button
          type="button"
          id="deselect-all"
          class="icon fa-solid fa-square"
          data-tooltip
          aria-label="{{localize 'CHUD.actions.selection.deselectAll'}}"
        ></button>

        <button
          type="button"
          id="select-visible"
          class="icon fa-solid fa-square-minus"
          data-tooltip
          aria-label="{{localize 'CHUD.actions.selection.selectVisible'}}"
        ></button>
              
        <button
          type="button"
          id="select-all"
          class="icon fa-solid fa-square-check"
          data-tooltip
          aria-label="{{localize 'CHUD.actions.selection.selectAll'}}"
        ></button>
      </span>
    </legend>

    {{!-- Actors pulled from current scene --}}
    <div class="flexcol chud-form-content">
      <div id="scene-participants-list" class="scrollable chud-flex-1">
        {{#each participants as |participant index|}}
          <div class="chud-list-entry">
            <div class="chud-actions-wrapper">
              {{#if (eq participant.type 'conversation')}}
                <button
                  type="button"
                  id="show-linked-conversation-button"
                  class="inline-control icon fa-solid fa-book-open"
                  data-tooltip
                  aria-label="{{localize 'CHUD.actions.showLinkedConversation'}}"
                ></button>
              {{else}}
                {{#if (eq participant.type 'participant')}}
                  <button
                    type="button"
                    id="participant-edit-button"
                    class="inline-control icon fa-solid fa-edit"
                    data-tooltip
                    title="{{localize 'CHUD.actions.participant.edit'}}"
                  ></button>
                {{else}}
                  {{!-- TODO: Display a better error container --}}
                  <p>ERROR</p>
                {{/if}}
              {{/if}}
            </div>

            <div class="chud-portrait-wrapper">
              {{#if (eq participant.type 'participant')}}
                <img src="{{participant.data.img}}"/>
              {{else}}
                <img src="{{participant.img}}"/>
              {{/if}}
            </div>

            <div class="chud-text-wrapper">
              <p class="name">
                {{#if (eq participant.type 'participant')}}
                  {{#if (eq participant.data.displayName false)}}
                    {{localize 'CHUD.strings.unknown'}}
                  {{else}}
                    {{participant.data.name}}
                  {{/if}}
                {{else}}
                  {{participant.name}}
                {{/if}}
              </p>

              {{#if participant.hidden}}
                <div class="chud-is-hidden-text">
                  <i class="fa-regular fa-eye-slash"></i>
                  <p>{{localize 'CHUD.strings.tokenIsHidden'}}</p>
                </div>
              {{/if}}
            </div>

            <input
              id="pull-participant-checkbox"
              type="checkbox"
              {{#if participant.checked}}checked="checked"{{/if}}
            >
          </div>
        {{/each}}
      </div>
    </div>
  </fieldset>
</div>
