<form class="sheet participant-add-edit-form">
  {{!-- NAVIGATION TABS --}}
  <nav class="sheet-tabs tabs" aria-role="{{localize 'SHEETS.FormNavLabel'}}">
    <a class="item" data-tab="participant-config">
      <i class="fas fa-user"></i> {{localize "CHUD.tabs.participantConfig"}}
    </a>
    
    <a class="item" data-tab="faction-config">
      <i class="fas fa-bookmark"></i> {{localize "CHUD.tabs.factionConfig"}}
    </a>
  </nav>

  {{!-- CONTENT --}}
  <div>
    {{!-- PARTICIPANT CONFIG TAB --}}
    {{> "modules/conversation-hud/templates/fragments/participant_data_config_tab.hbs" participantName=participantName participantImg=participantImg}}

    {{!-- FACTION CONFIG TAB --}}
    {{> "modules/conversation-hud/templates/fragments/faction_data_config_tab.hbs" displayFaction=displayFaction factionName=factionName factionLogo=factionLogo factionBannerEnabled=factionBannerEnabled factionBannerShape=factionBannerShape factionBannerTint=factionBannerTint}}
  </div>

  {{!-- FOOTER --}}
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
      <i class="fa fa-check"></i>
      {{#if isEditing}}
        {{localize "CHUD.actions.participant.edit"}}
      {{else}}
        {{localize "CHUD.actions.participant.add"}}
      {{/if}}
    </button>
  </footer>
</form>