<form class="flexcol conversation-entry-sheet" style="height: 100%">
  <div class="flexrow header">
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'CHUD.strings.conversationName'}}"/>

    {{#if isGM}}
      <button
        type="button"
        name="show-conversation"
        id="show-conversation"
        title="{{localize 'CHUD.actions.activateConversation'}}"
        class="header-action-button"
        style="margin-left: 5px;"
      >
        <i class="fas fa-eye"></i>
      </button>
    {{/if}}
  </div>

  <div class="flexrow sub-header">
    <p> {{localize 'CHUD.strings.conversationSettings'}} </p>
  </div>

  <div class="conversation-sheet-settings">
    <div class="form-group">
      <label>{{localize "CHUD.strings.conversationBackground.name"}}</label>
      <div class="form-fields">
        <button
          type="button"
          class="file-picker"
          data-type="imagevideo"
          data-target="conversationBackground"
          title="{{localize 'CHUD.strings.browseFiles'}}"
        >
          <i class="fas fa-file-import fa-fw"></i>
        </button>

        <input
          class="image"
          type="text"
          name="conversationBackground"
          placeholder="{{localize 'CHUD.strings.filePath'}}"
          value="{{conversationBackground}}"
        />
      </div>
      <p class="notes">{{localize "CHUD.strings.conversationBackground.hint"}}</p>
    </div>
  </div>

  <div class="flexrow sub-header">
    <p> {{localize 'CHUD.strings.conversationParticipants'}} </p>

    {{#if isGM}}
      <button
        type="button"
        name="pull-participants-from-scene"
        id="pull-participants-from-scene"
        title="{{localize 'CHUD.actions.pullParticipants'}}"
        class="sub-header-action-button"
      >
        <i class="fas fa-up-from-bracket"></i>
      </button>

      <button
        type="button"
        name="add-participant"
        id="add-participant"
        title="{{localize 'CHUD.actions.participant.add'}}"
        class="sub-header-action-button"
      >
        <i class="fas fa-user-plus"></i>
      </button>
    {{/if}}
  </div>

  <div id="conversation-sheet-content-wrapper" class="drag-and-drop-wrapper">
    <div id="conversation-sheet-dropzone" class="dropzone" >
      <i class="far fa-square-plus"></i>
      <p> {{localize 'CHUD.strings.dropActor'}} </p>
    </div>

    {{> "modules/conversation-hud/templates/fragments/conversation_participants_list.hbs" participants=participants isGM=isGM}}
  </div>

  <div class="footer">
    <footer class="sheet-footer flexrow">
      <button
        type="button"
        name="save-conversation"
        id="save-conversation"
        title="{{localize 'CHUD.actions.saveConversation'}}"
        {{#unless dirty}} disabled {{/unless}}
      >
        <i class="fas fa-save"></i>
        {{localize 'CHUD.actions.saveConversation'}}
      </button>
    </footer>
  </div>
</form>
