<form class="sheet conversation-background-input" style="height: 100%">
  <div class="form-group">
    <label>{{localize "CHUD.strings.conversationBackground.name"}}</label>
    <div class="form-fields">
      <button
        type="button"
        class="file-picker"
        data-type="imagevideo"
        data-target="conversationBackground"
        title="{{localize 'CHUD.strings.browseFiles'}}"
      >
        <i class="fas fa-file-import fa-fw"></i>
      </button>

      <input
        class="image"
        type="text"
        name="conversationBackground"
        placeholder="{{localize 'CHUD.strings.filePath'}}"
        value="{{conversationBackground}}"
      />
    </div>
    <p class="notes">{{localize "CHUD.strings.conversationBackground.hint"}}</p>
  </div>
  
  <div class="footer">
    <footer class="sheet-footer flexrow">
      <button
        type="submit"
        name="submit"
        title="{{localize 'CHUD.actions.save'}}"
      >
        <i class="fa fa-check"></i>
        {{localize 'CHUD.actions.save'}}
      </button>
    </footer>
  </div>
</form>