<div id="conversation-hud-content" class="conversation-hud-content">
  {{!-- Drag and drop area --}}
  <div id="conversation-hud-dropzone" class="conversation-hud-dropzone" >
    <i class="far fa-square-plus"></i>
    <p> {{localize 'CHUD.dropActor'}} </p>
  </div>

  {{!-- Active participant --}}
  <div class="active-participant {{portraitStyle}}">
    <img id="conversationActiveParticipant" class="portrait {{portraitAnchor}}" src="" alt="Portrait" />
    <p id="conversationActiveParticipantName" class="name {{activeParticipantFontSize}}">
      {{localize 'CHUD.anonymous'}}
    </p>
    
    <p id="conversationNoActiveParticipantMsg" class="no-participant-text active">
      {{localize 'CHUD.noActiveParticipant'}}
    </p>
  </div>

  {{!-- Participants list --}}
  <div id="conversationParticipantList" class="conversation-participant-list">
    {{#if isGM}}
      {{#each participants as |participant index|}}
        <div class="participant-drag-drop-container">
          <div id="drag-drop-indicator-top" class="drag-drop-indicator"></div>

          <div class="conversation-participant-wrapper">
            <div class="controls">
              <a class="edit" onclick="game.ConversationHud.updateParticipantFromActiveConversation({{index}})">
                <i class="fas fa-edit"></i>
              </a>

              <a class="remove" onclick="game.ConversationHud.removeParticipantFromActiveConversation({{index}})">
                <i class="fas fa-trash"></i>
              </a>
            </div>

            <div class="conversation-participant has-control" draggable="true" onclick="game.ConversationHud.changeActiveParticipant({{index}})">
              <img class="portrait" src="{{participant.img}}" alt="Portrait" />
              <p class="name">{{participant.name}}</p>
            </div>

            <div class="faction-wrapper {{#if participant.faction.factionBannerEnabled}}has-banner{{/if}} {{#unless participant.faction.displayFaction}}disabled{{/unless}}">
              <img class="faction-logo" src="{{participant.faction.factionLogo}}" alt="Faction Logo">

              {{#if participant.faction.factionBannerEnabled}}
                {{#if (eq participant.faction.factionBannerShape "shape-1")}}
                  {{> "modules/conversation-hud/templates/banner-shapes/shape-1.hbs" color=participant.faction.factionBannerTint}}
                {{/if}}

                {{#if (eq participant.faction.factionBannerShape "shape-2")}}
                  {{> "modules/conversation-hud/templates/banner-shapes/shape-2.hbs" color=participant.faction.factionBannerTint}}
                {{/if}}

                {{#if (eq participant.faction.factionBannerShape "shape-3")}}
                  {{> "modules/conversation-hud/templates/banner-shapes/shape-3.hbs" color=participant.faction.factionBannerTint}}
                {{/if}}

                {{#if (eq participant.faction.factionBannerShape "shape-4")}}
                  {{> "modules/conversation-hud/templates/banner-shapes/shape-4.hbs" color=participant.faction.factionBannerTint}}
                {{/if}}
              {{/if}}
            </div>
          </div>

          <div id="drag-drop-indicator-bottom" class="drag-drop-indicator"></div>
        </div>
      {{/each}}
    {{else}}
      {{#each participants as |participant index|}}
        <div class="conversation-participant">
          <img class="portrait" src="{{participant.img}}" alt="image" />
          <p class="name">{{participant.name}}</p>
        </div>
      {{/each}}
    {{/if}}
    
    {{#if isGM}}
      <div class="conversation-participant-wrapper">
        <a
          id="conversation-add-button"
          class="conversation-participant add-participant-button has-control"
          onclick="game.ConversationHud.addParticipantToActiveConversation()"
        >
          <i class="fas fa-plus"></i>
        </a>
      </div>
    {{/if}}
  </div>
</div>
