<div id="conversation-hud-content" class="conversation-hud-content">
  {{!-- Drag and drop area --}}
  <div id="conversation-hud-dropzone" class="conversation-hud-dropzone" >
    <i class="far fa-square-plus"></i>
    <p> {{localize 'CHUD.strings.dropActor'}} </p>
  </div>

  {{!-- Active participant --}}
  <div id="active-participant-anchor-point">
  </div>

  {{!-- Participants list --}}
  <div id="conversationParticipantList" class="conversation-participant-list">
    {{#if isGM}}
      {{#each participants as |participant index|}}
        <div class="participant-drag-drop-container">
          <div id="drag-drop-indicator-top" class="drag-drop-indicator"></div>

          <div class="conversation-participant-wrapper">
            {{!-- Controls --}}
            <div class="controls">
              <a class="edit" onclick="game.ConversationHud.updateParticipantFromActiveConversation({{index}})">
                <i class="fas fa-edit"></i>
              </a>

              <a class="remove" onclick="game.ConversationHud.removeParticipantFromActiveConversation({{index}})">
                <i class="fas fa-trash"></i>
              </a>
            </div>

            {{!-- Participant --}}
            <div
              class="conversation-participant has-control"
              draggable="true"
              onclick="game.ConversationHud.changeActiveParticipant({{index}})"
            >
              <img class="portrait {{../portraitAnchor}}" src="{{participant.img}}" alt="Portrait" />
              <p class="name">{{participant.name}}</p>
            </div>

            {{!-- Faction wrapper --}}
            <div style="align-self: flex-start;">
              {{> "modules/conversation-hud/templates/fragments/faction_wrapper.hbs" faction=participant.faction}}
            </div>
          </div>

          <div id="drag-drop-indicator-bottom" class="drag-drop-indicator"></div>
        </div>
      {{/each}}
    {{else}}
      {{#each participants as |participant index|}}
        <div class="conversation-participant-wrapper">
          {{!-- Participant --}}
          <div class="conversation-participant" data-tooltip="{{participant.name}}">
            <img class="portrait {{../portraitAnchor}}" src="{{participant.img}}" alt="image" />
            <p class="name">{{participant.name}}</p>
          </div>

          {{!-- Faction wrapper --}}
          <div data-tooltip="{{participant.faction.factionName}}" style="align-self: flex-start;">
            {{> "modules/conversation-hud/templates/fragments/faction_wrapper.hbs" faction=participant.faction}}
          </div>
        </div>
      {{/each}}
    {{/if}}
    
    {{!-- GMs also have an add participant button that needs to be rendered inside the list --}}
    {{#if isGM}}
      <div class="conversation-participant-wrapper">
        <a
          id="conversation-add-button"
          class="conversation-participant add-participant-button has-control"
          onclick="game.ConversationHud.addParticipantToActiveConversation()"
        >
          <i class="fas fa-plus"></i>
        </a>
      </div>
    {{/if}}
  </div>
</div>
