<div id="conversation-hud-content" class="conversation-hud-content">
  <div id="conversation-hud-dropzone" class="conversation-hud-dropzone" >
    <i class="far fa-square-plus"></i>
    <p> {{localize 'CHUD.dropActor'}} </p>
  </div>

  <div class="conversation-hud-active-participant {{portraitStyle}}">
    <img id="conversationActiveParticipant" class="active-participant-image {{portraitAnchor}}" src="" alt="active_participant" />
    <p id="conversationActiveParticipantName" class="active-participant-name {{activeParticipantFontSize}}">
      {{localize 'CHUD.anonymous'}}
    </p>
    
    <p id="conversationNoActiveParticipantMsg" class="no-active-participant-text active">
      {{localize 'CHUD.noActiveParticipant'}}
    </p>
  </div>

  <div id="conversationParticipantList" class="conversation-hud-participant-list">
    {{#if isGM}}
      {{#each participants as |participant index|}}
        <div class="participant-drag-drop-container">
          <div id="drag-drop-indicator-top" class="drag-drop-indicator"></div>

          <div class="conversation-participant has-control" draggable="true">
            <div class="conversation-participant-gm-wrapper" onclick="game.ConversationHud.changeActiveParticipant({{index}})">
              <img src="{{participant.img}}" alt="image" class="{{portraitAnchor}}"/>
              <p class="name" title="{{participant.name}}">{{participant.name}}</p>
            </div>

            <a class="conversation-participant-edit" onclick="game.ConversationHud.updateParticipantFromActiveConversation({{index}})">
              <i class="fas fa-edit"></i>
            </a>

            <a class="conversation-participant-remove" onclick="game.ConversationHud.removeParticipantFromActiveConversation({{index}})">
              <i class="fas fa-trash"></i>
            </a>
          </div>

          <div id="drag-drop-indicator-bottom" class="drag-drop-indicator"></div>
        </div>
      {{/each}}
    {{else}}
      {{#each participants as |participant index|}}
        <div class="conversation-participant">
          <img src="{{participant.img}}" alt="image" />
          <p class="name">{{participant.name}}</p>
        </div>
      {{/each}}
    {{/if}}
    
    {{#if isGM}}
      <a
        id="conversation-add-button"
        class="conversation-participant has-control"
        onclick="game.ConversationHud.addParticipantToActiveConversation()"
      >
        <i class="fas fa-plus"></i>
      </a>
    {{/if}}
  </div>
</div>
