{{#if isGM}}
  <div
    class="control-button toggle {{#if isVisible}}active{{/if}}"
    onclick="game.ConversationHud.toggleActiveConversationVisibility()"
    data-tooltip="{{localize 'CHUD.actions.toggleVisibility'}}"
  >
    <i class="fas fa-eye"></i>
  </div>

  {{#if features.speakAsEnabled}}
    <div
      class="control-button toggle {{#if isSpeakingAs}}active{{/if}}"
      onclick="game.ConversationHud.toggleSpeakingAsMode()"
      data-tooltip="{{localize 'CHUD.actions.toggleSpeakAs'}}"
    >
      <i class="fas fa-comment-quote"></i>
    </div>
  {{/if}}

  <div
    class="control-button"
    onclick="game.ConversationHud.saveActiveConversation()"
    data-tooltip="{{localize 'CHUD.actions.saveConversation'}}"
  >
    <i class="fas fa-save"></i>
  </div>
{{/if}}

{{#if features.minimizeEnabled}}
  {{#if isVisible}}
    <div
      class="control-button {{#if isGM}}margin{{/if}}"
      onclick="game.ConversationHud.toggleActiveConversationMode()"
      {{#if isMinimized}}
        data-tooltip="{{localize 'CHUD.actions.maximizeConversation'}}"
      {{else}}
        data-tooltip="{{localize 'CHUD.actions.minimizeConversation'}}"
      {{/if}}
    >
      {{#if isMinimized}}
        <i class="fas fa-chevron-left"></i>
      {{else}}
        <i class="fas fa-chevron-right"></i>
      {{/if}}
    </div>
  {{/if}}
{{/if}}