<form class="flexcol" style="height: 100%">
  <div class="flexrow conversation-sheet-header">
    <p> {{localize 'CHUD.currentParticipants'}} </p>
          
    <button
      type="button"
      name="add-participant"
      id="add-participant"
      title="{{localize 'CHUD.addParticipant'}}"
      class="conversation-control-button"
    >
      <i class="fas fa-user-plus"></i>
    </button>
  </div>

  <div id="conversation-sheet-content-wrapper" class="conversation-sheet-content-wrapper">
    <div id="conversation-sheet-dropzone" class="conversation-sheet-dropzone" >
      <i class="far fa-square-plus"></i>
      <p> {{localize 'CHUD.dropActor'}} </p>
    </div>

    {{> "modules/conversation-hud/templates/fragments/conversation_participants_list.hbs" participants=participants}}
  </div>
    
  <div class="conversation-sheet-footer">
    <footer class="sheet-footer flexrow">
      <button
        type="submit"
        name="submit"
        title="{{localize 'CHUD.startConversation'}}"
      >
        <i class="fa fa-check"></i>
        {{localize 'CHUD.startConversation'}}
      </button>
    </footer>
  </div>
</form>
