<form class="flexcol conversation-entry-sheet" style="height: 100%">
  <div class="flexrow header">
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'CHUD.strings.conversationName'}}"/>

    {{#if isGM}}
      <button
        type="button"
        name="show-conversation"
        id="show-conversation"
        title="{{localize 'CHUD.actions.activateConversation'}}"
        class="header-action-button"
      >
        <i class="fas fa-eye"></i>
      </button>

      <button
        type="button"
        name="add-participant"
        id="add-participant"
        title="{{localize 'CHUD.actions.participant.add'}}"
        class="header-action-button"
      >
        <i class="fas fa-user-plus"></i>
      </button>
    {{/if}}
  </div>

  <div id="conversation-sheet-content-wrapper" class="drag-and-drop-wrapper">
    <div id="conversation-sheet-dropzone" class="dropzone" >
      <i class="far fa-square-plus"></i>
      <p> {{localize 'CHUD.strings.dropActor'}} </p>
    </div>

    {{> "modules/conversation-hud/templates/fragments/conversation_participants_list.hbs" participants=participants isGM=isGM}}
  </div>

  <div class="footer">
    <footer class="sheet-footer flexrow">
      <button
        type="button"
        name="save-conversation"
        id="save-conversation"
        title="{{localize 'CHUD.actions.saveConversation'}}"
        {{#unless dirty}} disabled {{/unless}}
      >
        <i class="fas fa-save"></i>
        {{localize 'CHUD.actions.saveConversation'}}
      </button>
    </footer>
  </div>
</form>
