<form class="flexcol pull-participants-from-scene-form" style="height: 100%">
  <div class="flexrow header">
    <p> {{localize 'CHUD.strings.sceneActors'}} </p>

    <button
      type="button"
      name="deselect-all"
      id="deselect-all"
      title="{{localize 'CHUD.actions.selection.deselectAll'}}"
      class="header-action-button"
    >
      <i class="fa-regular fa-square"></i>
    </button>

    <button
      type="button"
      name="select-visible"
      id="select-visible"
      title="{{localize 'CHUD.actions.selection.selectVisible'}}"
      class="header-action-button"
    >
      <i class="fa-regular fa-square-minus"></i>
    </button>
          
    <button
      type="button"
      name="select-all"
      id="select-all"
      title="{{localize 'CHUD.actions.selection.selectAll'}}"
      class="header-action-button"
    >
      <i class="fa-regular fa-square-check"></i>
    </button>
  </div>

  {{!-- Actors pulled from current scene --}}
  <div class="list-wrapper">
    <div id="participants-pulled-from-scene">
      {{#each participants as |participant index|}}
        <div class="pulled-participant">
          <div>
            {{#if (eq participant.type 'conversation')}}
              <a
                id="show-linked-conversation-button"
                class="show-linked-conversation"
                title="{{localize 'CHUD.actions.showLinkedConversation'}}"
              >
                <i class="fas fa-book"></i>
              </a>
            {{else}}
              {{#if (eq participant.type 'participant')}}
                <a
                  id="participant-edit-button"
                  class="edit"
                  title="{{localize 'CHUD.actions.participant.edit'}}"
                >
                  <i class="fas fa-pencil"></i>
                </a>
              {{else}}
                <p>ERROR</p>
              {{/if}}
            {{/if}}
          </div>

          <div class="portrait-wrapper">
            {{#if (eq participant.type 'participant')}}
              <img src="{{participant.data.img}}"/>
            {{else}}
              <img src="{{participant.img}}"/>
            {{/if}}
          </div>

          <div class="text-wrapper">
            <p class="name">
              {{#if (eq participant.type 'participant')}}
                {{#if (eq participant.data.displayName false)}}
                  {{localize 'CHUD.strings.unknown'}}
                {{else}}
                  {{participant.data.name}}
                {{/if}}
              {{else}}
                {{participant.name}}
              {{/if}}
            </p>

            {{#if participant.hidden}}
              <div class="is-hidden">
                <i class="fa-regular fa-eye-slash"></i>
                <p>{{localize 'CHUD.strings.tokenIsHidden'}}</p>
              </div>
            {{/if}}
          </div>

          <input
            id="pull-participant-checkbox"
            class="pull-participant-checkbox"
            type="checkbox"
            {{#if participant.checked}}checked="checked"{{/if}}
          >
        </div>
      {{/each}}
    </div>
  </div>

  <div class="footer">
    <footer class="sheet-footer flexrow">
      <button
        type="submit"
        name="submit"
        title="{{localize 'CHUD.actions.startConversation'}}"
      >
        <i class="fa fa-plus"></i>
        {{localize 'CHUD.actions.addActors'}}
      </button>
    </footer>
  </div>
</form>
