<div class="flexrow chud-form-sub-header">
  <p>{{localize 'CHUD.strings.conversationParticipants'}}</p>

  {{#if isGM}}
    <button
      type="button"
      name="pull-participants-from-scene"
      id="pull-participants-from-scene"
      title="{{localize 'CHUD.actions.pullParticipants'}}"
    >
      <i class="fas fa-up-from-bracket"></i>
    </button>

    <button
      type="button"
      name="add-participant"
      id="add-participant"
      title="{{localize 'CHUD.actions.participant.add'}}"
    >
      <i class="fas fa-user-plus"></i>
    </button>
  {{/if}}
</div>

<div class="chud-form-section chud-form-content chud-drag-and-drop-container chud-overflow-y-auto">
  <div class="chud-dropzone">
    <i class="far fa-square-plus"></i>
    <p> {{localize 'CHUD.strings.dropItem'}} </p>
    <p class="hold-control"> ({{localize 'CHUD.strings.holdControl'}}) </p>
  </div>

  <div class="chud-non-dropzone-content chud-h-100">
    {{> "modules/conversation-hud/templates/fragments/conversation-participants-list.hbs"
      isGM=isGM
      participants=data.participants
      defaultActiveParticipant=data.defaultActiveParticipant
    }}
  </div>
</div>
